/* comune */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 5px auto;
}
/* fine comune */


/* header */
header .logo-img {
    height: 50px;
}

header .vertical-lign {
    display: inline-block;
    height: 50px;
    border-left: 1px solid #ededed;
    margin-left: 10px;
}

.menu ul {
    margin-top: 30px;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;

}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(202, 202, 202);
}

/* fine header */


/* main */

/* article */
article {
    height: 500px;
    background-color: rgb(223, 215, 134);
    margin: 20px 0px;
}
/* fine article */

/* section */
section {
    background-color: rgb(58, 132, 247);
}

section .lightblue {
    background-color: rgb(179, 206, 228);
}

section .title {
    height: 80px;
    margin-bottom: 15px;
}

section .content {
    height: 500px;
    float: left;
    margin-bottom: 15px;
}

section .right.content, section .left.content {
    width: 20%;
}

section .middle.content {
    width: calc(60% - 30px);
    margin: 0px 15px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}
/* fine section */

/* fine main */


/* footer */
footer {
    height: 60px;
    background-color: rgb(125, 22, 245);
    margin-top: 5px;
}
/* fine footer */